{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 12.14
            }
          }
        ]
      ]
    },
    "renderer": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "electron": 9
            }
          }
        ]
      ]
    },
    "web": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "electron": 9
            }
          }
        ]
      ]
    }
  }
}
